{%  extends 'accounts/main.html' %}

{% block content %}

		<br>
		<div class="row">
			<a class="btn btn-primary btn-lg btn-block" href="{% url 'place_order' %}">Place Order</a>
			<div class="col-md">
				<div class="card card-body">
					<h5>Products</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Product</th>
							<th>Category</th>
							<th>Price</th>
						</tr>

						{% for i in products %}
							<tr>
								<td>{{i.name}}</td>
								<td>{{i.category}}</td>
								<td>{{i.price}}</td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>
		<td><a class="btn btn-sm btn-info" href="{% url 'home'  %}">Go back</a></td>

{% endblock content %}